.telefon {
  background-color: rgb(3, 3, 3);
  margin: 10px auto;
  border: 10px solid rgb(3, 3, 3);
  border-radius: 60px;
  height: 956px;
  position: relative;
  width: 440px;
  .telefon-header {
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    .batereka {
      display: flex;
      align-items: center;
      gap: 7px;
      span {
        font-family: 10px;
        color: white;
      }
      img {
        border-radius: 0 7px 7px 0;
        width: 30px;
        background-color: rgb(92, 87, 87);
      }
    }
    .soat {
      padding: 0 0 0 20px;
      font-size: 20px;
      font-weight: 700;
      color: white;
    }
    .telefon__tepa__kamera {
      margin: 0 0 0 50px;
      position: relative;
      display: flex;
      justify-content: center;
      width: 150px;
      height: 35px;
      border-radius: 30px;
      background-color: rgb(3, 3, 3);
      .telefon__tepa__kamera__aylana {
        top: 6px;
        position: absolute;
        right: 15px;
        width: 17px;
        height: 17px;
        border-radius: 50%;
        background-color: rgb(37, 46, 79);
      }
    }
  }
  .telefon-programmalar {
    .timer-container {
      border-radius: 30px;
      background-color: rgb(0, 0, 0);
      width: 100%;
      height: 100%;
      .timer {
        border-radius: 30px;
        .back {
          img {
            padding: 10px 20px;
            width: 90px;
          }
        }
        .timer-hours {
          margin-bottom: 100px;
          border-radius: 15px;
          background-color: #ff0404;
          padding: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          .dot {
            color: #ffffff;
            font-size: 50px;
          }
          div {
            span {
              color: #ffffff;
              font-size: 50px;
            }
          }
        }
      }
      .timer-btns {
        width: 100%;
        bottom: 20px;
        display: flex;
        justify-content: center;
        gap: 20px;
        margin: 0 auto;
        .start-timer {
          cursor: pointer;
          padding: 20px 40px;
          color: #ffffff;
          border: none;
          border-radius: 15px;
          background-color: #18da4c;
          font-size: 25px;
        }
        .stop-timer {
          cursor: pointer;
          padding: 20px 40px;
          color: #ffffff;
          border: none;
          border-radius: 15px;
          background-color: #da1818;
          font-size: 25px;
        }
      }
    }
  }
}
